{% extends "base.html" %}

{% block title %}主页{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="row"><h2>推荐计划</h2></div>
            {% for p in plans %}
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        {{p.title}}
                    </h3>
                    <p>
                        <table>
                            <tr>
                                <td>出发地：</td>
                                <td>{{p.starting}}</td>
                            </tr>
                            <tr>
                                <td>目的地：</td>
                                <td>{{p.destination}}</td>
                            </tr>
                            <tr>
                                <td>出发日：</td>
                                <td>{{p.start_time|date:"Y-m-d" }}</td>
                            </tr>
                            <tr>
                                <td>返程日：</td>
                                <td>{{p.end_time|date:"Y-m-d"}}</td>
                            </tr>
                        </table>
                    </p>
                    <p>
                        <a class="btn" href="/showPlan/{{p.id}}">查看详情</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="row"><h2>推荐用户</h2></div>
            {% for u in userprofiles %}
            <div class="row">
                <div class="col-md-2">
                    <img class="img-circle" src="{% url 'media' u.avatar %}" width="100px" height="100px">
                </div>
                <div class="col-md-8">
                    <h3>
                        {{u.user.username}}
                    </h3>
                    <p>
                        <table>
                            <tr>
                                <td>性别：</td>
                                <td>{{u.sex}}</td>
                            </tr>
                            <tr>
                                {% load birthday_to_age %}
                                <td>年龄：</td>
                                <td>{{u.birthday.year|birthday_to_age}}</td>
                            </tr>
                            <tr>
                                <td>所在地：</td>
                                <td>{{u.location}}</td>
                            </tr>
                            <tr>
                                <td>邮箱：</td>
                                <td>{{u.user.email}}</td>
                            </tr>

                        </table>
                    </p>
                    <p>
                        <a class="btn" href="/showProfile/{{u.id}}">查看详情</a>
                    </p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    
{% endblock content %}

