{% extends "base.html" %}

{% block title %}添加计划{% endblock title %}

{% block content %}
	
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-4">
	{% if status == 'success' %}
		<div class="well">
			<h2 class="text-success text-center"> 计划添加成功！</h2>
		</div>
		
	{% endif %}
	<form role="form" method="post">
	{% csrf_token %}
		<div class="form-group">
			<label for="PlanTitle">
				计划名称
			</label>
			<input class="form-control" id="PlanTitle" type="text" required name="title">
		</div>

		<div class="form-group">
			<label for="Starting">
				出发地
			</label>
			<input class="form-control" id="Starting" type="text" required name="starting">
		</div>

		<div class="form-group">
			<label for="Destination">
				目的地
			</label>
			<input class="form-control" id="Destination" type="text" required name="destination">
		</div>

		<div class="form-group">
			<label for="StartDate">
				出发日
			</label>
			<input class="form-control" id="StartDate" type="date" required name="start_time">
		</div>

		<div class="form-group">
			<label for="BackDate">
				返程日
			</label>
			<input class="form-control" id="BackDate" type="date" required name="end_time">
		</div>

		<div class="form-group">
			<label for="NumOfPeople">
				计划人数
			</label>
			<input class="form-control" id="NumOfPeople" type="number" step="1" min="2" required name="total_person">
		</div>

		<div class="form-group">
			<textarea class="col-md-12" required name="description">计划简介</textarea>
		</div>

		<button class="btn btn-default" type="submit">
			提交
		</button>
	</form>
</div>
<div class="col-md-1"></div>
<div class="col-md-6">
	<div class="row">
		<div class="col-md-4">
			<img class="img-circle" alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
		</div>
		<div class="col-md-8">
			<h2>
				推荐用户1
			</h2>
			<p>
				<table>
					<tr>
						<td>性别：</td>
						<td></td>
					</tr>
					<tr>
						<td>年龄：</td>
						<td></td>
					</tr>
					<tr>
						<td>出发地：</td>
						<td></td>
					</tr>
					<tr>
						<td>目的地：</td>
						<td></td>
					</tr>
					<tr>
						<td>邮箱：</td>
						<td></td>
					</tr>
					<tr>
						<td>出发日：</td>
						<td></td>
					</tr>
					<tr>
						<td>返程日：</td>
						<td></td>
					</tr>
				</table>
			</p>
			<p>
				<a class="btn" href="#">查看详情</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="img-circle" alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
		</div>
		<div class="col-md-8">
			<h2>
				推荐用户2
			</h2>
			<p>
				<table>
					<tr>
						<td>性别：</td>
						<td></td>
					</tr>
					<tr>
						<td>年龄：</td>
						<td></td>
					</tr>
					<tr>
						<td>出发地：</td>
						<td></td>
					</tr>
					<tr>
						<td>目的地：</td>
						<td></td>
					</tr>
					<tr>
						<td>邮箱：</td>
						<td></td>
					</tr>
					<tr>
						<td>出发日：</td>
						<td></td>
					</tr>
					<tr>
						<td>返程日：</td>
						<td></td>
					</tr>
				</table>
			</p>
			<p>
				<a class="btn" href="#">查看详情</a>
			</p>
		</div>
	</div>
</div>
</div>	
{% endblock content %}