{% extends "base.html" %}

{% block title %}主页{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        推荐路线1
                    </h2>
                    <p>
                        <table>
                            <tr>
                                <td>计划标题：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>出发地：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>目的地：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>出发日：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>返程日：</td>
                                <td></td>
                            </tr>
                        </table>
                    </p>
                    <p>
                        <a class="btn" href="#">查看详情</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        推荐路线2
                    </h2>
                    <p>
                        <table>
                            <tr>
                                <td>计划标题：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>出发地：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>目的地：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>出发日：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>返程日：</td>
                                <td></td>
                            </tr>
                        </table>
                    </p>
                    <p>
                        <a class="btn" href="#">查看详情</a>
                    </p>
                </div>
            </div> 
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-circle" alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
                </div>
                <div class="col-md-8">
                    <h2>
                        推荐用户1
                    </h2>
                    <p>
                        <table>
                            <tr>
                                <td>性别：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>年龄：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>出发地：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>目的地：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>邮箱：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>出发日：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>返程日：</td>
                                <td></td>
                            </tr>
                        </table>
                    </p>
                    <p>
                        <a class="btn" href="#">查看详情</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-circle" alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
                </div>
                <div class="col-md-8">
                    <h2>
                        推荐用户2
                    </h2>
                    <p>
                        <table>
                            <tr>
                                <td>性别：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>年龄：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>出发地：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>目的地：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>邮箱：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>出发日：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>返程日：</td>
                                <td></td>
                            </tr>
                        </table>
                    </p>
                    <p>
                        <a class="btn" href="#">查看详情</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

